

/* Texto sobre la imagen de fondo */
/* Contenedor principal */
.contenedor_main {
  position: relative;
  width: 100%;
  height: 80vh; /* Ajusta la altura que desees */
  overflow: hidden;
}

/* Imagen que ocupa todo el contenedor */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contenedor del texto centrado encima de la imagen */
.animated-text-normativa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(241, 186, 83);
  font-size: 2rem; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Para que el texto sea legible */
  
  /* Estado inicial: invisible y un poco más abajo */
  opacity: 0;
  transform: translate(-50%, -40%); 
  
  /* Aplicamos la animación al cargar la página */
  animation: aparecerDeRepente 0.5s ease-out 0.3s forwards;
}

.titulo-normativa{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Definición de la animación */
@keyframes aparecerDeRepente {
  to {
    opacity: 1;
    transform: translate(-50%, -50%); /* Vuelve a su posición central */
  }
}

